.block.quote {
  margin: 0 0 1rem 0;
  padding: 0.25rem 0;
  border: 0px double #999;
  border-width: 3px 0;
  font-family: "PTSerif-Italic", Calibri, sans-serif;
  font-style: italic;
}
.block.side {
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  background-color: #ddd;
  font-size: smaller;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}
.block.inside {
  margin: 1rem 0;
  font-size: smaller;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  background-color: #ddd;
  padding: 0.5rem;
}
.block.inside h5 {
  border-bottom: 1px dotted #333;
  padding: 0 0 0 0.25rem;
  background-color: #ddd;
}
.block.example {
  margin: 0 0 1rem 0;
  padding: 0.5rem 1rem;
  background-color: #ddd;
  font-size: smaller;
  font-style: italic;
}
.block.border {
  max-width: 280px;
  padding: 12px;
  border: 3px solid #000;
}
