@import url(fonts/fonts.css);
@import url(blocks.css);
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #333;
  font: normal 400 medium Calibri, sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-areas: "head head" "aside main" "foot foot";
  background-color: #efefef;
}

/* ---------- LAYOUT ---------- */
header {
  grid-area: head;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 200;
}
header .menu {
  background-color: #333;
  width: 100%;
  padding: 0.75rem 2rem 1rem 0.75rem;
  border-bottom: 1px dotted #efefef;
}
header .menu > div {
  display: flex;
  align-items: start;
  gap: 10px;
}
header .menu > div a {
  display: block;
  font-size: smaller;
}
.submenu {
  position: relative;
}
.submenu > ul {
  display: none;
  position: absolute;
  padding: 2rem 1rem 1rem;
  list-style: none;
  background-color: #333;
  left: -1rem;
  z-index: 300;
  transition: all 1s ease-out;
  min-width: 180px;
  border: 1px solid #000;
  border-top: none;
}
.submenu > ul li {
  padding-bottom: 0.5rem;
}

.submenu > ul a:hover {
  text-decoration: underline;
}

nav {
  grid-area: aside;
  background-color: #333;
  padding: 0.5rem 2rem 1rem 0;
  width: 250px;
  color: #efefef;
  font-size: smaller;
}
nav > div {
  padding: 0.5rem 0.25rem 2rem 0.5rem;
  overflow-y: auto;
}
nav .menu span {
  display: none;
}
nav > div > div {
  padding-left: 0;
  margin-bottom: 0.2rem;
}
nav .h1 {
  font-size: medium;
  border-bottom: 1px solid #efefef;
}
nav .h2 {
  font-size: larger;
  margin-left: 0.25rem;
  border-bottom: 1px dotted #666;
}
nav .h3 {
  margin-left: 0.75rem;
  border-bottom: 1px dotted #666;
}
nav .h4 {
  margin-left: 1rem;
}
nav .h5 {
  margin-left: 1.5rem;
  margin-bottom: 0.05rem;
}

header a,
nav a {
  color: #efefef;
  text-decoration: none;
}

header a.active,
nav a.active {
  border-bottom: 1px dotted #efefef;
}

main {
  grid-area: main;
  padding: 3rem 1.5rem 1rem;
  max-width: 1380px;
}

footer {
  grid-area: foot;
}

/* ---------- TIPOGRAPHY ----------*/

h1,
h2,
h3,
h4,
h5,
main .h1,
h5,
main .h2,
h5,
main .h3,
h5,
main .h4,
h5,
main .h5 {
  font-family: "Tektur-SemiBold", Calibri, sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
h2,
main .h2 {
  position: relative;
  margin-top: 3rem;
  clear: both;
}
h2::before,
main .h2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-top: 2px dotted #666;
}
h2 a {
  text-decoration: none;
}
h3,
main .h3 {
  border-bottom: 1px dotted #666;
}
h3,
h4,
main .h3,
main .h4 {
  margin: 1rem 0 0.5rem;
}
h4,
main .h4 {
  font-size: 1rem;
}
h5,
main .h5 {
  /* ֎  */
  margin: 0.5rem 0 0.25rem;
  font-size: 0.9rem;
}

table {
  border-collapse: collapse;
  margin: 0 0 1rem;
}
th,
td {
  padding: 0 0.5rem;
  border-bottom: 1px solid #999;
  vertical-align: top;
}
tr:nth-child(2n) td {
  background-color: #ddd;
}
td {
  font-size: smaller;
}
tr.base td {
  font-weight: 100;
  background-color: #ccc;
  font-family: "Tektur-SemiBold", Calibri, sans-serif;
  font-size: 0.7rem;
}
tr.base td b {
  text-decoration: underline;
}

ul,
ol {
  margin: 0;
  padding-left: 32px;
}
main ul,
main dl,
main ol {
  margin-bottom: 0.5rem;
}

p + ul {
  margin-top: -0.5rem;
}

p {
  margin: 0.25rem 0 0.5rem 0;
}

b {
  font-weight: 600;
}

i {
  font-family: "Tektur-SemiBold", Calibri, sans-serif;
  font-size: small;
}
b i {
  font-family: "Tektur-SemiBold", Calibri, sans-serif;
  font-size: smaller;
}

td sup {
  font-size: xx-small;
}
p sup,
li sup {
  font-size: x-small;
}

main ul {
  padding-left: 25px;
}
main ul li {
  list-style: none;
}
main ul li:before {
  content: "⁜ ";
  position: relative;
  margin-left: -0.75rem;
}
dl {
}
dt {
  font: smaller "Tektur-SemiBold", Calibri, sans-serif;
}
dd {
  margin-left: 25px;
  margin-bottom: 0.5rem;
}

.term {
  font: smaller "Tektur-Medium", Calibri, sans-serif;
  border-bottom: 1px dotted #999;
}

.bullit {
  padding-left: 1rem;
}
.bullit:before {
  content: "֎ ";
  display: block;
  float: left;
  font-size: smaller;
  position: relative;
  margin-left: -1rem;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (min-width: 768.02px) {
  nav > div {
    position: fixed;
    width: 250px;
    padding-left: 0.75rem;
    top: 3rem;
    bottom: 0;
    /*overflow-y: auto;*/
    direction: rtl;
  }
  nav > div * {
    direction: ltr;
  }
  .gear {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "div div";
  }
  .moves {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "div div";
  }
}

.collapse {
  cursor: pointer;
  position: relative;
  z-index: 50;
}

.collapse::after {
  display: inline;
  width: 15px;
  height: 10px;
  content: " 👁️";
}

.collapse + * {
  display: none;
  border: 1px solid #ccc;
  padding: 0 1rem 0.5rem;
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  body {
    display: block;
  }

  nav {
    width: 100%;
    height: 2.5rem;
    padding-right: 0;
    position: fixed;
    top: 5rem;
    z-index: 100;
  }

  nav > div {
    position: inherit;
    width: calc(100% - 0.75rem);
    /*overflow-y: hidden;*/
    /*background-color: #333;*/
  }

  header .menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  header .menu > div {
    flex-wrap: wrap;
  }

  header .menu span {
    display: block;
    width: 30px;
    height: 10px;
  }

  header .menu span::before {
    display: inline;
    width: 15px;
    height: 10px;
    content: " 👁️";
  }

  #mmenu {
    display: none;
  }

  main {
    padding: 3rem 1rem 0.5rem;
  }

  h2 {
    padding-top: 6rem;
    margin-top: -3rem;
  }

  h3 {
    padding-top: 5rem;
    margin-top: -3rem;
  }

  .collapse {
    padding-top: 2rem;
    margin-top: 0;
  }

  .collapse + * {
    border: 1px solid #ccc;
    padding: 0 0.5rem 0.5rem;
    margin-top: 0.5rem;
    margin: 0.5rem -0.5rem 0;
  }

  .moves div + div {
    margin-top: 1.5rem;
    border-top: 1px #333 dotted;
  }

  table {
    max-width: calc(100% - 2rem) !important;
  }

  td {
    font-size: smaller;
  }
}
